#organizers {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: center;
    gap: 40px;

}

.card {
    width: 220px;
    height: 255px;
    background-color: aqua;
}

.card img{
    width: 10px;
}

#about {
    border-bottom: 2px solid #ccd3db;
    padding: 0 0 20px 0;

}

#about p {
    font-family: 'montserratmedium';
    font-size: larger;
}

#about p::first-letter {
    color: red;
    font-size: x-large;
}
