.content-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card
{
    width: 90%;
    height: 170px;
    
    background: rgb(255 174 174 / 20%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 42px;
    display: flex;
    justify-content: space-between;
}
.card-text
{
    font-size: 1.5rem;
    font-weight: 600;
    color: #c35151;
}
.cards
{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.add_problem_statment
{
    width: 235px;
    height: 55px;
    border-radius: 20px;
    color: white;
    background-color: #c35151;
    border-color: #ff1f16f5;
    font-size: larger;
    font-family: cursive;
}
