{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'base/css/teams.css' %}">
<script src="{% static 'base/js/card.js' %}"></script>

<div class="content-block">
    <a id="lookingforteam" href="{% url 'register_participant' %} "><button class="register-btn">Register</button></a>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="display-area">
        {% for participant in participants %}
            {%  if not participant.in_team %}
                <div class="card" data-url="{% url 'participant_profile' participant.id %}">
                        <strong>{{participant.name}}</strong>
                </div>
            {% endif %}
        {% endfor %}
        {% for participant in participants %}
            {%  if participant.in_team %}
                <div class="card occupied" data-url="{% url 'participant_profile' participant.id %}">
                    <strong>{{participant.name}}</strong>
                    <p>team : {{participant.teamname}}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}