{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/participant-team_profile.css' %}">

<div class="content-block">
    <div id="profile-card">

        <!-- Add profile picture here -->
        <img src="{{ participant.photo.url }}" alt="Profile Picture" id="profile-pic">

        <div id="details">
            <h2>{{ participant.name }}</h2>
            <p><strong>Username:</strong> {{ participant.username }}</p>
            <p><strong>Branch:</strong> {{ participant.branch }}</p>

            <div id="skills-card">
                <h3>Skills</h3>
                <div id="skill-section">
                    {% for skill in skills %}
                        <span class="skill-badge">{{ skill }}</span>
                    {% endfor %}
                </div>
            </div>

            {% if not participant.in_team and request.user.in_team %}
                <a href="{% url 'invite_participant' participant.id %}" id="invite-btn">Invite</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
