{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/participant-team_profile.css' %}">
<div class="content-block">

    <div id="profile-card">
        <img src="" alt="profilepic">
        <div id="details">
            <p>{{participant.name}}</p>
            <p>username : {{participant.username}}</p>
            <p>branch : {{participant.branch}}</p>
            <div id="skills-card">
                <p>Skills</p>
                <div id="skill-section">
                    {% for skill in skills %}
                    <span id="skill">{{skill}}</span>
                    {% endfor %}
                </div>
            </div>
            {% if not participant.in_team and request.user.in_team %}
            <p id="invite_btn"><a href="{% url 'invite_participant' participant.id %}">invite</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}