{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'base/css/teams.css' %}">
<script src="{% static 'base/js/card.js' %}"></script>

<div class="content-block">
    <a id="lookingforteam" href="{% url 'register_team' %} ">register</a>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="display-area">
        {% for team in teams %}
        <div class="card" data-url="{% url 'team_profile' team.id %}"">
            <!-- <img src="" alt="teamlogo"> -->
            <p>{{team.name}}</p>
            <p>{{team.teamleader}}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
